<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 쿼리문 작성 -->
    
<mapper namespace="com.oidc.movie.dao.MovieMapper">
    <select id="getMovieRank" resultType="movieDto">
        SELECT MOVIEINFO.TITLE FROM MOVIEINFO, MOVIERANK WHERE MOVIERANK.MID = MOVIEINFO.MID
    </select>

    <select id="checkTitle" resultType="long" parameterType="String">
        SELECT MID FROM MOVIEINFO WHERE TITLE=#{title}
    </select>

    <select id="getBPM" resultType="movieDto" parameterType="String">
        SELECT BMAX AS MAX, BMIN AS MIN FROM MOVIEINFO WHERE TITLE=#{title};
    </select>

    <select id="getCount" resultType="integer" parameterType="String">
        SELECT COUNT(BPMTEST.MID) AS COUNT FROM BPMTEST, MOVIEINFO WHERE MOVIEINFO.MID = BPMTEST.MID AND MOVIEINFO.TITLE=#{title};
    </select>

    <select id="userLoveCheck" resultType="String" parameterType="String">
        SELECT MOVIELOVE.UID FROM MOVIELOVE,MOVIEINFO,USERINFO WHERE MOVIEINFO.MID = MOVIELOVE.MID AND MOVIELOVE.UID=USERINFO.UID AND MOVIEINFO.TITLE=#{title} AND USERINFO.USERID=#{userId};
    </select>

    <delete id="userLoveDelete" parameterType="String">
        DELETE FROM MOVIELOVE USING MOVIELOVE
	        INNER JOIN MOVIEINFO INNER JOIN USERINFO
                WHERE MOVIEINFO.MID = MOVIELOVE.MID AND MOVIEINFO.TITLE=#{title} AND USERINFO.UID = MOVIELOVE.UID AND USERINFO.USERID=#{userId};
    </delete>

    <insert id="userLoveInsert" parameterType="String">
        INSERT INTO MOVIELOVE(UID, MID) SELECT USERINFO.UID, MOVIEINFO.MID FROM MOVIEINFO, USERINFO WHERE USERINFO.USERID=#{userId} AND MOVIEINFO.TITLE=#{title};
    </insert>

    <insert id="insertMovieInfo" parameterType="String">
        INSERT INTO MOVIEINFO(TITLE) VALUES (#{title})
    </insert>

    <select id = "getLoveMoive" parameterType = "String" resultType="movieDto">
        SELECT MOVIEINFO.TITLE FROM MOVIEINFO, MOVIELOVE, USERINFO WHERE MOVIEINFO.MID = MOVIELOVE.MID AND USERINFO.UID = MOVIELOVE.UID AND USERINFO.USERID = #{userId}
    </select>

    <select id = "getWatchMovie" parameterType="String" resultType="movieDto">
        SELECT MOVIEINFO.TITLE FROM MOVIEINFO, BPMTEST, USERINFO WHERE MOVIEINFO.MID = BPMTEST.MID AND USERINFO.UID = BPMTEST.UID AND USERINFO.USERID = #{userId}
    </select>
</mapper>